<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>295714674711-5l4u9ng8kica1tc91c9nmmj52cr5mhj4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295714674711-5l4u9ng8kica1tc91c9nmmj52cr5mhj4</string>
	<key>API_KEY</key>
	<string>AIzaSyCCFjyOCyykG24PFY-IBt7F3Z9sMPEaSN0</string>
	<key>GCM_SENDER_ID</key>
	<string>295714674711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-codelab-11e2b</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-codelab-11e2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295714674711:ios:2dcd75335c68c44f822452</string>
</dict>
</plist>